__pycache__/
*.egg-info/
*.egg
*.spec
*.log
*.db
*.sqlite
*.pypackage
*.egg
.pytest_cache/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.pyc
*.pyo
.DS_Store
.env.bak
.env
.local_settings.py
